# Dependencies
node_modules/
yarn.lock

# Environment variables
.env
.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Upload files
uploads/

# Test coverage
coverage/

# Build
dist/
build/
